[submodule "csv/ko"]
	path = csv/ko
	url = https://github.com/Ra-Workspace/ffxiv-datamining-ko
[submodule "csv/cn"]
	path = csv/cn
	url = https://github.com/thewakingsands/ffxiv-datamining-cn
[submodule "csv/tc"]
	path = csv/tc
	url = https://github.com/thewakingsands/ffxiv-datamining-tc
